#room32 {
   top: 180px;
   left: 300px; 
}
#room33 {
   top: 650px;
   left: 180px; 
}
#room34 {
   top: 650px;
   left: 450px; 
}
#room35 {
   top: 650px;
   left: 630px; 
}
#room36 {
   top: 650px;
   left: 880px; 
}
#room37 {
   top: 720px;
   left: 1100px; 
}
#room38 {
   top: 600px;
   left: 1150px; 
}

