#room39 {
   top: 180px;
   left: 300px; 
}
#room40 {
   top: 650px;
   left: 180px; 
}
#room41 {
   top: 650px;
   left: 450px; 
}
#room42 {
   top: 650px;
   left: 630px; 
}
#room43 {
   top: 650px;
   left: 880px; 
}
#room44 {
   top: 720px;
   left: 1100px; 
}
#room45 {
   top: 600px;
   left: 1150px; 
}

