

#room11 {
   top: 340px;
   left: 150px; 
}
#room12 {
   top: 550px;
   left: 120px; 
}
#room13 {
   top: 700px;
   left: 430px; 
}
#room14 {
   top: 420px;
   left: 360px; 
}
#room15 {
   top: 250px;
   left: 440px; 
}
#room16 {
   top: 350px;
   left: 600px; 
}
#room17 {
   top: 500px;
   left: 490px; 
}
#room18 {
   top: 550px;
   left: 600px; 
}

#room19 {
   top: 430px;
   left: 730px; 
}
#room20 {
   top: 520px;
   left: 880px; 
}
#room21 {
   top: 700px;
   left: 910px; 
}
    
