

#room1 {
   top: 340px;
   left: 190px; 
}
#room2 {
   top: 470px;
   left: 170px; 
}
#room3 {
   top: 600px;
   left: 150px; 
}
#room4 {
   top: 760px;
   left: 235px; 
}
#room5 {
   top: 760px;
   left: 400px; 
}
#room6 {
   top: 400px;
   left: 400px; 
}
#room7 {
   top: 500px;
   left: 400px; 
}
#room8 {
   top: 500px;
   left: 540px; 
}

#room9 {
   top: 610px;
   left: 560px; 
}
#room10 {
   top: 510px;
   left: 880px; 
}