#room46 {
   top: 180px;
   left: 300px; 
}
#room47 {
   top: 600px;
   left: 180px; 
}
#room48 {
   top: 600px;
   left: 450px; 
}
#room49 {
   top: 600px;
   left: 630px; 
}
#room50 {
   top: 600px;
   left: 880px; 
}
#room51 {
   top: 600px;
   left: 1100px; 
}

