<style>

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
li{
    height: 50px;
    list-style: none;
    text-align: left;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    line-height: 50px;  
}
div{
   margin-right: 50px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: orange;
  color: white;
    
}

.Column a {
    text-decoration:none;
}
.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    /*border-spacing: 20px; Optional*/
}
.Column
{
    display: table-cell;
    background-color: royalblue; /*Optional*/
    text-align: center;
    padding-top: 20px;
}

</style>
